@import 'button';
@import 'input';

$background-color: #000066;

.page{
    width: 100%;
}

.header {
    @extend .page;
    height: 100px;
    background: $background-color;
    color: white;
    padding: 24px;
}

.footer {
    @extend .page;
    margin-top: 100px;
    background: $background-color;
    color: white;
    padding: 24px;
    text-align: center;
}

.content{
    @extend .page;
    padding: 24px;
}

.comment_border{
    margin: 24px;
    border-radius: 10px;
    border: 1px solid #0099FF;
    padding: 5px;
    width: 80%;
    height: auto;

    .comment_detail{
        display:table;
        span{
            padding: 8px;
            display:table-cell;
            vertical-align:middle;
        }
    }
}

table{
    border: 1px solid black;
    border-collapse: collapse;
    th, td {
        padding: 5px;
        text-align: left;
    }
}

table#table01{
        width:100%;
        tr:nth-child(even) {
            background-color: #eee;
        }
        tr:nth-child(odd) {
            background-color:#fff;
        }
        th {
            background-color: black;
            color: white;
        }
    }

.form-group{
    padding: 8px;
    font-weight: bold;
}